

body {
  background-color: #E1B2B6;
  padding-left: 4em;
}

p {
  font-family: tenon, sans-serif;
  font-weight: 600;
  font-style: normal;
  color:white;

  font-size: 2em;
  margin-top: 2em;

  white-space: pre-line;
}

img {
  position: fixed;
  right:-10vw;

  height: 100vh;
}

.verse {
  font-size: 4em;
}

#title {
  font-size: 1.5em;
  color: #FFFFFF;
  text-decoration-color: white;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

p > span,i {
  font-size: 2.5em;
}

.verse > span {
  font-family: fleisch-wurst, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chorus > span {
  font-family: bungee, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.prechorus {
  color:#BE004C;
  margin-left: 3em;
}

.chorus i {
  font-family: fleisch-wolf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
}

i + i {
  font-size: 2em;
  line-height: 1.5em;
  opacity: .9;
}

i + i + i {
  font-size: 1.5em;
  opacity: .8;
}

i + i + i + i {
  font-size: 1.2em;
  opacity: .7;
}

i + i + i + i + i {
  font-size: 1em;
  opacity: .6;
}

i + i + i + i + i {
  font-size: .8em;
  opacity: .5;
}

i + i + i + i + i + i {
  font-size: .6em;
  opacity: .4;
}

i + i + i + i + i + i + i{
  font-size: .4em;
  opacity: .3;
}

i + i + i + i + i + i + i + i{
  font-size: .3em;
  opacity: .2;
}

i + i + i + i + i + i + i + i + i{
  font-size: .1em;
  opacity: .1;
}


.chorus + .chorus {
  color: #D61332;
}

.chorus + .chorus b + b {
  color: white;
}

.chorus > b {
  font-family: bungee, sans-serif;
  font-weight: 400;
  font-style: normal;

  font-size: 5em;
}

b + b {
  color: #BE004C;
}
